
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row 404-page text-align-center">
        <h2>404</h2>
        <h4>Traženi sadržaj nije pronađen.</h4>
    </div>
</div>

