@model List<string>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row" id="homepage-post">

    </div>
</div>

<div class="modal fade" id="followers-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="followers-modal-tittle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Post.js"></script>
<script>
    $(document).ready(function () {
        loadPosts();
    })

    function loadPosts() {
        $("#load-posts-button").remove();
        $.ajax({
            type: "GET",
            url: "/post/FollowingPosts",
            processData: false,
            contentType: false,
            success: function (data) {
                $("#homepage-post").append(data);
                $("#like-button").on("click", function () {
                    likeUnlikePost(this);
                })

            }
        }); 
}
</script>


