body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}



/*REGISTRATION FORM*/

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}

.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}

.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}

.card-body{
    margin: 0 auto;
}

.form-group{
    width: 100%;
}

.text-align-center{
    text-align: center;
}

.upload-page form{
    height: 100%;
}

.file-field-container {
    height: 100%;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}


.upload-info-container {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    max-height: 0;
    overflow: hidden;
}

.upload-info-container canvas{
    width: 100%;
}

.upload-info-container textarea{
    width: 100%;
}

.display-table{
    display: table;
}

.display-table-cell{
    display: table-cell;
    vertical-align:middle;
}

.input-hider{
    position:relative;
}

.input-hider span{
    color: #fff;
    text-align:center;
}

.input-hider input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

.expand-height {
    max-height: 1500px;
}

.file-field-container{

}