body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.container{
    max-width: 900px !important;
}
/*REGISTRATION FORM*/
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}

.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}

.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}

.card-body{
    margin: 0 auto;
}

.form-group{
    width: 100%;
}

.text-align-center{
    text-align: center;
}

.upload-page form{
    height: 100%;
}

.file-field-container {
    height: 100%;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}


.upload-info-container {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    max-height: 0;
    overflow: hidden;
}

.upload-info-container canvas{
    width: 100%;
}

.upload-info-container textarea{
    width: 100%;
}

.display-table{
    display: table;
}

.display-table-cell{
    display: table-cell;
    vertical-align:middle;
}

.input-hider{
    position:relative;
}

.input-hider span{
    color: #fff;
    text-align:center;
}

.input-hider input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

.expand-height {
    max-height: 1500px;
}

.input-group-prepend {
    flex: 30px 0 0;
    text-align: center;
    display: table;
    height: 34px;
    background-color: #e0e0e0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #aaa;
    border-right: none;
}

.input-group{
    display: flex;
}

.input-group-text {
    display: table-cell;
    vertical-align: middle;
}

.input-group-prepend input {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.follower-row div{
    float: left;
}

.follower-image {
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.follower-image .user-image-wrapper {
    width: 60px;
    height: 60px;
}

.follower-information {
    padding-left: 15px;
}

.follower-information h5 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
}

.follower-information h6 {
    font-size: 15px;
    margin-top: 0;
}

.user-image-wrapper {
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 4px solid #cacaca;
}

.logo-text {
    font-size: 25px;
    padding: 8px;
    display: block;
}

.search-bar {
    margin-top: 9px;
}

.post-single-header .user-image-wrapper {
    width: 60px;
    height: 60px;
    border: 2px solid #cacaca;
    display: inline-block;
    float: left;
}


.post-single-header {
    padding: 10px 0;
}

.post-single-header img {
    width: 60px;
    border-radius: 50%;
    border: 2px solid #bbb;
    float: left;
}

.post-single-header h4 {
    float: left;
    margin-left: 20px;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

.post-single-image-wrapper img{
    width: 100%;
}

.post-single-likes-date{
    padding: 5px;
}

.post-single-likes-date span{
    display: block;
    font-size: 16px;
    cursor:pointer;
}

.post-single-like-button {
    text-align: right;
    font-size: 30px;
    padding: 5px;
    line-height: 30px;
    cursor: pointer;
}

.post-single-like-button .fas{
    color: #d81010;
}

.profile-information h4{
    margin-bottom: 3px !important;
}

.profile-information h3 {
    margin-top: 0 !important;
}

.image-thumbnail{
    padding: 7px;
}

.follower-table {
    max-height: 350px;
    overflow-y: auto;
}

.is-clickable{
    cursor: pointer;
}

.options-dropdown {
    text-align: right;
    padding: 10px 0;
}